LLM_KEY=sk-xxx
LLM_ENDPOINT=https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_MODEL=qwen-flash
# 所有兼容 openai SDK 的 LLM 服务提供商都会提供上述3个参数
# LLM_KEY 也有可能叫 API Key （例如阿里云百炼平台），不同的服务商的叫法可能不一样。
# LLM_ENDPOINT 也有可能叫 Base URL（例如阿里云百炼平台），也就是该 LLM 服务要使用的节点，以目前阿里云百炼平台为例，提供两个节点，中国地区可选用北京节点: https://dashscope.aliyuncs.com/compatible-mode/v1, 中国地区以外可选用新加坡节点: https://dashscope-intl.aliyuncs.com/compatible-mode/v1, 其他例如微软，亚马逊或者openai等，应该有全球节点可供选择。
# LLM_MODEL 也就是要选择的模型名称，以阿里云百炼平台为例，可选用的有 qwen3-max, qwen-plus, qwen-flash 等，参考: https://help.aliyun.com/zh/model-studio/models 。对于微软，亚马逊或者openai等，应该也有其他的模型可选。
# 若考虑使用微软 LLM ，参考: https://learn.microsoft.com/en-us/azure/ai-foundry/openai/supported-languages?tabs=dotnet-secure%2Csecure%2Cpython-entra&pivots=programming-language-python

SPEECH_KEY="xxx"
STT_ENDPOINT=https://eastasia.stt.speech.microsoft.com
TTS_ENDPOINT=https://eastasia.tts.speech.microsoft.com
# ASR 和 TTS 目前是对接的 azure 的服务，需要两个参数：
# SPEECH_KEY 也就是调用服务所需要的 key
# STT_ENDPOINT 是做语音识别 (stt) 的节点
# TTS_ENDPOINT 是做语音合成 (tts) 的节点

LANGUAGE=zh-CN
# 该参数为微软 ASR 识别的语种，可选项参考: https://learn.microsoft.com/zh-cn/azure/ai-services/speech-service/language-support?tabs=stt

VOICE_NAME=sl-SI-RokNeural
# VOICE_NAME=it-IT-AlessioMultilingualNeural
# VOICE_NAME=ko-KR-HyunsuMultilingualNeural
# VOICE_NAME=ja-JP-MasaruMultilingualNeural
# VOICE_NAME=zh-CN-Xiaoxiao:DragonHDFlashLatestNeural
# VOICE_NAME=en-US-AvaMultilingualNeural
# VOICE_NAME=de-DE-SeraphinaMultilingualNeural
# VOICE_NAME=es-ES-ArabellaMultilingualNeural
# VOICE_NAME=fr-FR-LucienMultilingualNeural
# 该参数为语音合成的语种，可参考: https://learn.microsoft.com/zh-cn/azure/ai-services/speech-service/language-support?tabs=tts


SYS_MESSAGE="你是优必选开发的智能助手，名叫天工形者。回答简洁明了，尽量100个单词以内，用斯洛文尼亚语回答。"
# 该参数为本项目内使用的，设置的是 LLM 的系统内容。

INTERRUPT_WORDS=""
# 打断词的意思是，当天工正在播放的时候，也是在收音的，收到的声音经 ASR 识别后如果检测到文本内包含打断词，即停止播放并进入收音状态，等用户提问，而如果不包含打断词，则这句提问会被忽略。打断词可配置多个，用英文的逗号分隔。