LLM_KEY=sk-xxx
LLM_ENDPOINT=https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_MODEL=qwen-flash
# All LLM service providers compatible with OpenAI SDK will provide the above 3 parameters
# LLM_KEY may also be called API Key (e.g., Aliyun Bailian platform), different service providers may have different names.
# LLM_ENDPOINT may also be called Base URL (e.g., Aliyun Bailian platform), which is the node to be used by the LLM service. Taking Aliyun Bailian platform as an example, it provides two nodes. For regions in China, you can use the Beijing node: https://dashscope.aliyuncs.com/compatible-mode/v1; for regions outside China, you can use the Singapore node: https://dashscope-intl.aliyuncs.com/compatible-mode/v1. For others such as Microsoft, Amazon or OpenAI, there should be global nodes available to choose from.
# LLM_MODEL is the name of the model to select. Taking Aliyun Bailian platform as an example, available options include qwen3-max, qwen-plus, qwen-flash, etc. See: https://help.aliyun.com/zh/model-studio/models . For Microsoft, Amazon or OpenAI, there should also be other models available.
# If you consider using Microsoft LLM, refer to: https://learn.microsoft.com/en-us/azure/ai-foundry/openai/supported-languages?tabs=dotnet-secure%2Csecure%2Cpython-entra&pivots=programming-language-python

SPEECH_KEY="xxx"
STT_ENDPOINT=https://eastasia.stt.speech.microsoft.com
TTS_ENDPOINT=https://eastasia.tts.speech.microsoft.com
# STT and TTS are currently connected to Azure services, requiring two parameters:
# SPEECH_KEY is the key required to call the service
# STT_ENDPOINT is the node used to do stt
# TTS_ENDPOINT is the node used to do tts

LANGUAGE=zh-CN
# This parameter is the language recognized by Microsoft STT. For available options, refer to: https://learn.microsoft.com/en-us/azure/ai-services/speech-service/language-support?tabs=stt

# VOICE_NAME=sl-SI-RokNeural
# VOICE_NAME=it-IT-AlessioMultilingualNeural
# VOICE_NAME=ko-KR-HyunsuMultilingualNeural
# VOICE_NAME=ja-JP-MasaruMultilingualNeural
# VOICE_NAME=zh-CN-Xiaoxiao:DragonHDFlashLatestNeural
# VOICE_NAME=en-US-AvaMultilingualNeural
VOICE_NAME=en-US-AndrewMultilingualNeural
# VOICE_NAME=de-DE-SeraphinaMultilingualNeural
# VOICE_NAME=es-ES-ArabellaMultilingualNeural
# VOICE_NAME=fr-FR-LucienMultilingualNeural
# This parameter is for voice synthesis language. For reference: https://learn.microsoft.com/en-us/azure/ai-services/speech-service/language-support?tabs=tts

SYS_MESSAGE="You are an intelligent assistant developed by UBTech, named Walker TienKung. Answer concisely and clearly, within 100 words if possible, and you must respond in English."
# This parameter is used in this project and sets the system content of the LLM.

INTERRUPT_WORDS="stop,Stop"
# Interrupt words mean that when Tiangong is playing audio, it is also receiving audio. If the received sound is identified by STT and the text is detected to contain interrupt words, it will stop playback and enter the audio receiving state waiting for user questions. If it does not contain interrupt words, the question will be ignored. Multiple interrupt words can be configured, separated by English commas.
